{% extends 'MyAppFilmothequeBundle::layout.html.twig' %}

{% block content %}
<h3>Top des acteurs les plus jeunes</h3>
{#% render "MyAppFilmothequeBundle:Acteur:top" with {'max': 3} %#}

<h3>Top films</h3>
{#% render "MyAppFilmothequeBundle:Film:top" %#}

{% endblock %}
